* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner-titulo{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: black;
    padding: 20px;
}
.subbanner {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #e2e6ea;
    padding: 20px;
    height: 20px;
}
.container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.containerp {
    display: flex;
    padding: 20px;
    justify-content: center;
}
.cajap {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: #d0d0d0;
    padding: 20px;
    margin: 20px;
}
.container-final {
     background-color: black;
}
.caja {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: #d0d0d0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
.imagen-banner {
   width: 90px;
   height: 90px;
} 
.imagen-final {
   width: 50px;
   height: 50px;
   margin: 20px;
}
.titulop{
    text-align: center;
}
.imagen-caja {
     width: 160px;
     height: 160px;
}
.imagenp {
    width: 350px;
    height: 350px;
}
h1 {
   color: aliceblue;
}
.titulo-final {
    color: aliceblue;
     background-color: black;
     padding: 20px;
}
body {
    font-family: system-ui, Arial, sans-serif;
    background: #f4f7fb;
    color: #111;
    line-height: 1.4;
}

